{% extends "base/login_reg_base.html" %}
{% load static %}
    {%  block title %}
        Register
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="{% static 'base/css/registration_css.css'%}">
    {% endblock %}

    {% block body %}
        <div class="container" id="container">
            <div class="form-container log-in-container">
                <form method="post">
                    {% csrf_token %}
                    <h1>Register</h1>
                    <!-- <div class="social-container">
                        <a href="#" class="social"><i class="fa fa-facebook fa-2x"></i></a>
                        <a href="#" class="social"><i class="fab fa fa-twitter fa-2x"></i></a>
                    </div>
                    <span>or use your account</span> -->
                    <input type="username" name="username" placeholder="username" />
                    <input type="password" name="password" placeholder="Password" />
                    <input type="text" name="name" placeholder="Company name" />
                    <input type="email" name="email" placeholder="Company email" />
                    <input type="text" name="place" placeholder="Company Address" />
                    <input type="tel" name="phone" placeholder="Company Phone number" />
                    <a href="">Already have an account?</a>
                    <button>Sign Up</button>
                </form>
            </div>
            <!-- <div class="overlay-container">
                <div class="overlay">
                    
                    <div class="overlay-panel overlay-right">
                        <h1>HTML CSS Login Form</h1>
                        <p>This login form is created using pure HTML and CSS. For social icons, FontAwesome is used.</p>
                    </div>
                </div>
            </div> -->
        </div>
    {% endblock %}